@charset "UTF-8";
@import "/layout/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 370px) {
  html {
    font-size: 15px;
  }
}

html, body {
  height: 100%;
  margin: 0rem;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  color: #fff;
  line-height: 1.42;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666666;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.wrapper__content {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0rem;
  /* Отступ слева в браузере IE и Opera */
  padding: 0rem;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

ul li {
  list-style-type: none;
  /* Убираем маркеры */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0rem;
  padding: 0rem;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/bg-surf.jpeg") center top 80% no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 36.2222222222rem;
  margin-top: 0;
  color: #fff;
  font-weight: 700;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 93%;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .hero__container {
    height: 80%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  padding-top: 1.3333333333rem;
  padding-bottom: 1.5555555556rem;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 1.4444444444rem 0rem 1.3333333333rem;
    background: #1968b1;
    position: relative;
  }
}

.header__container {
  padding-right: 0rem;
  padding-left: 0rem;
  display: flex;
}
@media screen and (max-width: 768px) {
  .header__container {
    padding-left: 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .header__container {
    padding-left: 0.5555555556rem;
  }
}
@media screen and (max-width: 370px) {
  .header__container {
    padding-left: 0.2777777778rem;
  }
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.menu.header-nav {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .menu.header-nav {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
    background-color: #313131;
    margin: 0;
  }
  .menu.header-nav.active {
    display: flex;
  }
}

.menu__list.header-menu {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .menu__list.header-menu {
    flex-direction: column;
    height: 54%;
    text-align: center;
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .contacts.header__contacts {
    display: none;
  }
}

.logo {
  display: block;
  margin-right: 2.5555555556rem;
}

.menu {
  display: flex;
  margin: 0 30px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .menu_list {
    flex-direction: column;
  }
}

.menu__item {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 1rem;
  margin-bottom: 0.5555555556rem;
}

.menu__item:last-child {
  margin-right: 0rem;
}
@media screen and (max-width: 768px) {
  .menu__item:last-child {
    margin-right: 0rem;
    font-size: 2rem;
    line-height: 4rem;
  }
}

.menu__link {
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
}

.menu__link:hover {
  transition: 0.5s;
  text-decoration: underline;
  text-decoration-color: #3A587E;
}

.contacts {
  color: #fff;
  font-weight: 700;
  text-align: right;
  display: inline-flex;
  align-items: center;
}

.contacts_icon {
  color: #fff;
  flex-shrink: 0;
  align-self: center;
  margin-right: 0.3111111111rem;
}

.contacts__icon-elem {
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  margin-right: 0.3333333333rem;
  fill: #fff;
}

.contacts__link {
  text-decoration: none;
  font-size: 1.2222222222rem;
  font-weight: 700;
  white-space: nowrap;
}
@media screen and (max-width: 480px) {
  .contacts__link {
    justify-content: center;
  }
}

.contacts__text {
  white-space: nowrap;
}

.hamburger {
  width: 26px;
  height: 24px;
  top: 4%;
  right: 3%;
  display: none;
  position: fixed;
  z-index: 1010;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: #fff;
  height: 4px;
  border-radius: 10px;
  transition: transform 0.3s, background-color 0.3s, opacity 0.3s;
}
.hamburger__plank:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger__plank:nth-child(3) {
  bottom: 0;
  top: initial;
}

.hamburger.active .hamburger__plank:nth-child(1) {
  opacity: 0;
}
.hamburger.active .hamburger__plank:nth-child(2) {
  transform: rotate(45deg);
}
.hamburger.active .hamburger__plank:nth-child(3) {
  transform: rotate(-45deg) translateY(-6px) translateX(6px);
}

.banner {
  width: 46%;
  height: max-content;
  margin-top: 25%;
  margin-bottom: 3.5555555556rem;
}
@media screen and (max-width: 768px) {
  .banner {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 12%;
  }
}
@media screen and (max-width: 480px) {
  .banner {
    margin-top: 20%;
  }
}
@media screen and (max-width: 370px) {
  .banner {
    margin-top: 25%;
  }
}

.banner__caption {
  font-size: 2.6666666667rem;
  font-weight: 700;
  line-height: 1.4;
  line-height: 100%;
  margin-bottom: 0.9444444444rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .banner__caption {
    margin-top: 35%;
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  .banner__caption {
    font-size: 2.1666666667rem;
  }
}
@media screen and (max-width: 370px) {
  .banner__caption {
    font-size: 1.9444444444rem;
  }
}

.banner__text {
  font-size: 1.1666666667rem;
  font-style: Regular;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 1.8611111111rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .banner__text {
    padding: 0 25%;
  }
}

.button {
  border-radius: 1.9444444444rem;
  padding: 1.1666666667rem 2.2777777778rem;
  color: #000000;
  font-weight: 800;
  font-size: 0.8888888889rem;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.button--color--yellow {
  background: #FEDB3F;
  color: #000000;
}

.button--color--yellow:hover {
  background: #000000;
  color: #FEDB3F;
  transition: 0.7s;
}

.button--color--transparent {
  background: transparent;
  color: #000000;
  text-transform: none;
}
.button--color--transparent:hover {
  color: #FEDB3F;
}

.bullets {
  display: flex;
  align-content: center;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .bullets {
    display: none;
  }
}

.bullets__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bullet {
  display: inline-flex;
  margin-right: 1.8333333333rem;
  align-items: center;
}

.bullet__icon {
  width: 1.9272222222rem;
  height: 1.9272222222rem;
  margin-right: 0.7777777778rem;
}

.bullet__icon-elem {
  fill: #fff;
  width: 1.9272222222rem;
  height: 1.9272222222rem;
}

.bullet__text {
  font-size: 0.8888888889rem;
  font-weight: 700;
  line-height: 1.2;
  width: 5rem;
  height: 2rem;
}

.bullet:last-child {
  margin-right: 0rem;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  color: #292929;
  margin-bottom: 2.9444444444rem;
  text-align: center;
  text-transform: uppercase;
}

.section__subtitle {
  font-weight: 400;
}

.section__title-accord {
  font-weight: 700;
  font-size: 2.6666666667rem;
  color: #fff;
  font-style: normal;
  margin-top: 6.0555555556rem;
  margin-left: 4.6666666667rem;
  line-height: 3.2222222222rem;
}
@media screen and (max-width: 768px) {
  .section__title-accord {
    margin-top: 4.7222222222rem;
    margin-left: 0.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title-accord {
    margin-top: 4.2222222222rem;
    margin-left: 0.3888888889rem;
  }
}

.section__title-reviews {
  margin-bottom: 1.7777777778rem;
}

.section__title-order {
  color: #fff;
  margin-bottom: 4.6111111111rem;
  font-size: 2.6666666667rem;
  font-weight: 700;
}

.headline {
  margin-bottom: 2.7222222222rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .headline {
    margin-bottom: 2.9444444444rem;
  }
}

.headline__title {
  margin-bottom: 0.9444444444rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    margin-bottom: 0rem;
  }
}

.headline__subtitle {
  padding: 0 27%;
  color: #666666;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 22%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 8%;
  }
}
@media screen and (max-width: 370px) {
  .headline__subtitle {
    padding: 0 4%;
  }
}

.benefits {
  display: flex;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
    text-align: left;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative;
}
.benefits__item::before {
  content: url("/img/snape.png");
  position: absolute;
  top: 2.7777777778rem;
  right: 0rem;
  transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0rem;
}
.benefits__item:last-child {
  padding-right: 0rem;
}
.benefits__item:last-child::before {
  display: none;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
  }
}

.benefit {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .benefit {
    flex-direction: row;
    margin-bottom: 1.7222222222rem;
  }
  .benefit:last-child {
    margin-bottom: 0rem;
  }
}

.benefit__image {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    padding-right: 0.6666666667rem;
    padding-left: 0.5555555556rem;
  }
}

.benefit__image-wrapper {
  display: inline-flex;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 480px) {
  .benefit__text {
    padding-right: 2.2222222222rem;
  }
}

.benefit__icon-elem {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: black;
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #292929;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.5555555556rem;
  }
}

.benefit__desc {
  font-weight: 300;
  color: #666666;
}

.parameters__drop {
  background-color: #fff;
  opacity: 0.8;
  border-radius: 0.2222222222rem;
  padding: 1.6666666667rem 1.3888888889rem;
  min-width: 15.1666666667rem;
  position: absolute;
  left: 100%;
  top: 0%;
  transition: opacity 0.3s;
  display: none;
}
.parameters__drop:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5rem;
  position: absolute;
  bottom: 100%;
  right: 0px;
}

.parameters__drop-left {
  padding-right: 1.9444444444rem;
}

.parameters__drop-list {
  font-size: 0.8888888889rem;
  color: #000000;
  font-weight: 500;
}

.parameters__drop-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5555555556rem;
}
.parameters__drop-item:last-child {
  margin-bottom: 0rem;
}

.parameters__drop-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parameters__drop-elem {
  width: 1.7777777778rem;
  height: 1.7777777778rem;
}

.parameters__drop-text {
  margin-left: 0.8888888889rem;
}

.parameters__drop-right {
  display: flex;
  flex: 1;
}

.parameters__drop-right--list {
  font-size: 0.8888888889rem;
  color: #000000;
}

.parameters__drop-right--item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5555555556rem;
}
.parameters__drop-right--item:last-child {
  margin-bottom: 0rem;
}

.product__image {
  padding-left: 3.8888888889rem;
  padding-right: 2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .product__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.product__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  padding-right: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .product__container {
    text-align: center;
    align-items: center;
    padding-right: 0rem;
  }
}

.product__parameters {
  height: 5.0555555556rem;
  width: 5.0555555556rem;
  margin-bottom: 2.8888888889rem;
  background: #3A587E;
  border-radius: 0.2222222222rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product__parameters:hover .parameters__drop {
  opacity: 0.8;
  display: flex;
}
@media screen and (max-width: 768px) {
  .product__parameters {
    display: none;
    height: 0rem;
    width: 0rem;
    margin-bottom: 0rem;
  }
}

.product__parameters-img {
  padding-top: 0.9444444444rem;
  padding-bottom: 0.3888888889rem;
}

.product__parameters--text {
  font-size: 0.7777777778rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 0.6666666667rem;
  text-decoration: none;
}

.product__title {
  font-size: 2rem;
  font-weight: 700;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .product__title {
    margin-bottom: 0.7777777778rem;
  }
}

.product__text {
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .product__text {
    padding: 0rem 7.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .product__text {
    padding: 0rem 3.8888888889rem;
    margin-bottom: 1.2222222222rem;
  }
}

.product__content {
  display: flex;
  margin-bottom: 0.6666666667rem;
}
@media screen and (max-width: 768px) {
  .product__content {
    padding-left: 5rem;
  }
}
@media screen and (max-width: 480px) {
  .product__content {
    padding-left: 3.3333333333rem;
  }
}

.product__content-item {
  display: flex;
  flex-direction: column;
  padding-right: 3.0555555556rem;
}

.product__content-text {
  display: flex;
  justify-content: flex-start;
}

.product__content-elem {
  font-weight: 700;
}

.product__price {
  display: flex;
  align-items: center;
}

.product__price-text {
  font-size: 3.3333333333rem;
  font-weight: 300;
  color: #151515;
  padding-right: 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .product__price-text {
    padding-right: 1.9444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .product__price-text {
    padding-right: 1.1111111111rem;
  }
}

.products-slider {
  position: relative;
}
.products-slider .bx-wrapper {
  border: 0 !important;
  background: transparent;
  box-shadow: none;
}

.products-slider__arrow {
  display: block;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  background: url(./img/prev.svg);
  width: 0.7777777778rem;
  height: 1.5rem;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .products-slider__arrow {
    top: 40%;
  }
}
@media screen and (max-width: 480px) {
  .products-slider__arrow {
    top: 35%;
  }
}
.products-slider__arrow--prev {
  left: 0;
}
@media screen and (max-width: 768px) {
  .products-slider__arrow--prev {
    left: 5.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .products-slider__arrow--prev {
    left: 0.5555555556rem;
  }
}
.products-slider__arrow--next {
  right: 0;
  transform: rotate(-180deg);
}
@media screen and (max-width: 768px) {
  .products-slider__arrow--next {
    right: 6.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .products-slider__arrow--next {
    right: 0.5555555556rem;
  }
}

.products-section {
  background: #F8FAF9;
}

.products__item {
  display: flex;
}
@media screen and (max-width: 768px) {
  .products__item {
    flex-direction: column;
  }
}

.accord-menu {
  background: url("../img/backSlider.jpg") left 40% top no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .accord-menu {
    position: relative;
  }
}

.accord-menu__list {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .accord-menu__list {
    justify-content: space-around;
  }
}
@media screen and (max-width: 480px) {
  .accord-menu__list {
    width: 100%;
    justify-content: flex-end;
  }
}

.accord-menu__item {
  display: flex;
  height: 100%;
}
.accord-menu__item.active .accord-menu__content {
  width: 29.1111111111rem;
}
@media screen and (max-width: 768px) {
  .accord-menu__item.active .accord-menu__content {
    width: 21.2222222222rem;
    align-content: center;
    z-index: 5;
    position: absolute;
    left: 18%;
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .accord-menu__item.active .accord-menu__content {
    width: 17.6111111111rem;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
  }
}
.accord-menu__item.active .accord-menu__close {
  display: block;
}

.accord-menu__content {
  background: rgba(51, 53, 55, 0.9);
  width: 0;
  overflow: hidden;
  transition: width 0.3s linear;
  backdrop-filter: blur(0.2777777778rem);
  color: #fff;
}
@media screen and (max-width: 480px) {
  .accord-menu__content {
    transition: none;
  }
}

.accord-menu__desc {
  transition: opacity 0.3s linear;
  padding: 1.7777777778rem;
  padding-left: 2.1111111111rem;
  padding-right: 4.4444444444rem;
  min-width: 29.1111111111rem;
  font-size: 0.8888888889rem;
  line-height: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .accord-menu__desc {
    padding: 2.3333333333rem;
    padding-right: 2.9444444444rem;
    min-width: 16.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .accord-menu__desc {
    padding-top: 2.2222222222rem;
    padding-right: 2.7777777778rem;
    min-width: 11.1111111111rem;
  }
}

.accord-menu__button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 6.1111111111rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .accord-menu__button {
    width: 4.4444444444rem;
    font-size: 2.2222222222rem;
  }
}

.accord-menu__container {
  height: 100%;
}

.accord-menu__close {
  display: none;
  border: none;
  background: transparent;
  position: fixed;
  padding-top: 1.1111111111rem;
  padding-left: 24.4444444444rem;
}
@media screen and (max-width: 768px) {
  .accord-menu__close {
    padding-left: 23.8888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .accord-menu__close {
    padding-left: 23.8888888889rem;
  }
}

.accord-menu__close-icon {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  cursor: pointer;
  transition: 0.3s;
  fill: #fff;
  color: #fff;
}

.accord-menu__button-text {
  position: absolute;
  color: #fff;
  font-size: 2.6666666667rem;
  font-weight: 700;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg) translateY(-100%);
  left: 76%;
  bottom: 2.0555555556rem;
  white-space: nowrap;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  padding-top: 2.833333rem;
  transform-origin: 0 0;
}

.reviews {
  margin-top: 1.7777777778rem;
}
@media screen and (max-width: 480px) {
  .reviews {
    margin-top: 1.4444444444rem;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.3333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding-bottom: 2.5555555556rem;
    margin-bottom: 1.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display {
    padding: 3.1111111111rem 1.5rem 1.6666666667rem;
    margin-bottom: 1.6666666667rem;
  }
}

.reviews__list {
  position: relative;
  min-height: 15.5555555556rem;
}

.reviews__item {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}
.reviews__item--active {
  position: absolute;
  opacity: 1;
  pointer-events: unset;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 0.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display-inner {
    margin-top: 0rem;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 1.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__avatar {
    margin-bottom: 1.5rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0rem;
  }
  .reviews__content:last-child {
    margin-bottom: 0rem;
  }
}

.reviews__title {
  font-size: 1.7777777778rem;
  font-weight: 700;
  margin-bottom: 0.7777777778rem;
  color: #292929;
}

.reviews__text {
  font-weight: 400;
  margin-bottom: 1.3888888889rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 0.8888888889rem;
  }
}

.reviews__author {
  font-weight: 500;
  color: #292929;
}

.reviews__swicher {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .reviews__swicher {
    margin-top: 4.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__swicher {
    margin-top: 3.3333333333rem;
  }
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.interactive-avatar--active {
  border-color: #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-section {
  background: url("../img/bg-black-white-surf.jpg");
  background-size: cover;
  color: #fff;
  background-blend-mode: exclusion;
  background-color: #2B2B2B;
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 15%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 5%;
  }
}
@media screen and (max-width: 370px) {
  .form {
    padding: 0%;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.5rem;
  color: #fff;
}
.form__col:last-child {
  margin-right: 0rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.6666666667rem;
}
.form__row:last-child {
  margin-bottom: 0rem;
}
@media screen and (max-width: 480px) {
  .form__row {
    margin-bottom: 1.4444444444rem;
  }
}

.form__block {
  flex: 1;
  margin-right: 0.9444444444rem;
  font-weight: 400;
  font-style: normal;
}
.form__block:last-child {
  margin-right: 0rem;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 12px;
  border: 3px solid transparent;
  border-radius: 4px;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
.form__input--textarea {
  height: 165px;
  resize: none;
}
@media screen and (max-width: 480px) {
  .form__input {
    height: 2rem;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.form__controls:last-child {
  margin-bottom: 0px;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__button {
  margin-top: 2.6111111111rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .form__button {
    margin-top: 2.1666666667rem;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 0.5555555556rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0rem;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/check.png") center center no-repeat;
}
.radio:last-child {
  margin-right: 0rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.4444444444rem;
  cursor: pointer;
}
.radio__visible::before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  font-size: 1.0555555556rem;
  margin-right: 2rem;
}

.map-section {
  position: relative;
}

.map {
  display: flex;
  height: 100%;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1.2777777778rem 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-left: 1.6666666667rem;
    padding-right: 2.4444444444rem;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 1.1666666667rem;
  color: #292929;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__contacts {
    margin-bottom: 0.5555555556rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__contacts .contacts__link {
  font-weight: 400;
}

.footer__contacts .contacts__icon-elem {
  fill: black;
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.3888888889rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}
.fixed-menu__item:last-child {
  margin-bottom: 0rem;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.socials {
  margin-left: 4.4444444444rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
@media screen and (max-width: 480px) {
  .socials {
    margin-left: 0rem;
  }
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.7777777778rem;
}
.socials__item:last-child {
  margin-right: 0rem;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 1.3333333333rem;
  height: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .socials__link {
    width: 1.1111111111rem;
    height: 1.1111111111rem;
  }
}

.socials__icon {
  height: 100%;
  width: 100%;
  fill: #B3B3B3;
}
.socials__icon:hover {
  stroke: #292929;
}

/*# sourceMappingURL=main.css.map */