$containerWidth: 940px;
$baseFontSize: 18px;

$z-fixed-menu: 100;
$SiteWidth: 940px;
$baseFontSize: 18px;

//breakpoints
$tablets: 768px;
$phones: 480px;
$phones-small: 370px;

//colors
$white: #fff;
$yellow: #FEDB3F;
$black: #292929;
$grey: #666666;
$darkblue: #3A587E;



@import "layout/normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap');
@import "base";



@import "blocks/hero.scss";
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/menu.scss";
@import "blocks/contacts.scss";
@import "blocks/banner.scss";
@import "blocks/button.scss";
@import "blocks/bullets.scss";
@import "blocks/section.scss";
@import "blocks/headline.scss";
@import "blocks/benefits.scss";
@import "blocks/benefit.scss";
@import "blocks/reviews.scss";
@import "blocks/interactive-avatar.scss";
@import "blocks/order-section.scss";
@import "blocks/form.scss";
@import "blocks/radio.scss";
@import "blocks/fixed-menu.scss";






