.accord-menu {
  background: url('/img/backSlider.jpg') left 40% top no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @include tablets {
    position: relative;
  }
  
}


.accord-menu__list {
  display: flex;
  justify-content: flex-end;

  @include tablets {
    justify-content: space-around;
  }
  @include phones {
    width: 100%;
    justify-content: flex-end;
  }
}

.accord-menu__item {
  display: flex;
  height: 100%;

  &.active {
    .accord-menu__content {
      width: rem(524px);

      @include tablets {
        width: rem(382px);
        align-content: center;
        z-index: 5;
        position: absolute;
        left: 18%;
        height: 100%;
        
        
      }

      @include phones {
        width: rem(317px);
        // width: 100%;
        justify-content: flex-end;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
      }
    }
    .accord-menu__close {
      display: block;
    }

  }
}

.accord-menu__content {
  background: rgba(51, 53, 55, 0.9);
  width: 0;
  overflow: hidden;
  transition: width 0.3s linear;
  backdrop-filter: blur(rem(5px));
  color: $white;

  @include phones {
    transition: none;
  }

}

.accord-menu__desc {
  transition: opacity 0.3s linear;
  padding: rem(32px);
  padding-left: rem(38px);
  padding-right: rem(80px);
  min-width: rem(524px);
  font-size: rem(16px);
  line-height: rem(24px);

  @include tablets {
    padding: rem(42px);
    padding-right: rem(53px);
    min-width: rem(300px);
  }
  
  @include phones {
    padding-top: rem(40px);
    padding-right: rem(50px);
    min-width: rem(200px);
  }
}

.accord-menu__button {
  display: flex;
  justify-content: center;
  position: relative;
  width: rem(110px);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
  // color: initial;

  @include phones {
    width: rem(80px);
    font-size: rem(40px);
  }
}

.accord-menu__container {
  height: 100%;
}

.accord-menu__close {
  display: none;
  border: none;
  background: transparent;
  position: fixed;
  padding-top: rem(20px);
  padding-left: rem(440px);


  @include tablets {
      padding-left: rem(430px);
  }

  @include phones {
      padding-left: rem(430px);
  }

}

.accord-menu__close-icon {
  width: rem(20px);
  height: rem(20px);
  cursor: pointer;
  transition: .3s;
  fill: $white;
  color: #fff;
}

// .accord-menu__button-text {
//   // position: absolute;
//   color: $white;
//   font-size: rem(48px);
//   font-weight: 700;
//   transform: rotate(-180deg);
//   left: 50%;
//   // bottom: rem(37px);
//   white-space: nowrap;
//   writing-mode: vertical-lr;
//   padding: rem(39px);

// }

// alternative 

.accord-menu__button-text {
  position: absolute;
  color: #fff;
  font-size: 2.6666666667rem;
  font-weight: 700;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg) translateY(-100%);
  left: 76%;
  bottom: 2.0555555556rem;
  white-space: nowrap;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  padding-top: 2.833333rem;
  transform-origin: 0 0;
}