
.banner {
  width: 52%;
  height: max-content;
  margin-top: 10%;

  }

.banner__caption {
  font-size: 48px;
  font-style: bold;
  font-weight: 700;
  line-height: 57.6px;
  line-height: 100%;
  margin-bottom: 17px;
  text-transform: uppercase;

}

.banner__text {
  font-size: 21px;
  font-style: Regular;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 33.5px;
}

