.benefits {
  display: flex;
  text-align: center;

  @include phones {
    flex-direction: column;
    text-align: left;      
  }

}

.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative;

  &::before {
    content: url('/img/snape.png');
    position: absolute;
    top: rem(50px);
    right: rem(0px);
    transform: translateX(50%);

    @include tablets {
      display: none;
    }
     
  }

  &:first-child {
    padding-left: rem(0px);
  }

  &:last-child {
    padding-right: rem(0px);

    &::before {
      display: none;
    }

  }

  @include phones {
    padding: 0;
    
    &:last-child {
        padding-bottom: rem(65px);
    }
}
}
