.bullets {
  display: flex;
  align-content: center;
  align-items: flex-end;

  @include tablets {
    display: none;
  }
}

.bullets__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bullet {
  display: inline-flex;
  margin-right: rem(33px);
  align-items: center;
}

.bullet__icon {
  width: rem(34.69px);
  height: rem(34.69px);
  margin-right: rem(14px);
}

.bullet__icon-elem {
  fill: $white;
  width: rem(34.69px);
  height: rem(34.69px);
}

.bullet__text {
  font-size: rem(16px);
  font-weight: 700;
  line-height: 1.2;
  width: rem(90px);
  height: rem(36px);
}

.bullet:last-child {
  margin-right: rem(0px);
}