.button {
    border-radius: 35px;
    padding: 21px 41px;
    color: #000000;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;

}

.button--color--yellow {
    background: $yellow;
    color: #000000;
}

.button--color--yellow:hover {
    background: $white;
    color: $darkblue;
    transition: .7s;
}

.button--color--transparent {
    background: transparent;
    color: #000000;
    text-transform: none;

    &:hover {
        color: $darkblue;
    }
}
