.button {
    border-radius: rem(35px);
    padding: rem(21px) rem(41px);
    color: #000000;
    font-weight: 800;
    font-size: rem(16px);
    text-transform: uppercase;
    text-decoration: none;
    border: none;

}

.button--color--yellow {
    background: $yellow;
    color: #000000;
}

.button--color--yellow:hover {
    background: #000000;
    color: $yellow;
    transition: .7s;
}

.button--color--transparent {
    background: transparent;
    color: #000000;
    text-transform: none;

    &:hover {
        color: $yellow;
    }
}
