.contacts {
  color: #ffffff;
  font-style: bold;
  text-align: right;
  display: inline-flex;
}

.contacts-icon {
  margin-right: 5.6px;
}

[href] {
  color: #ffffff;
  text-decoration: none;
}


.contacts__phone {
  text-decoration: none;
  font-size: 22px;
  font-style: bold;
  line-height: 18px;

}