.hamburger {
    width: 26px;
    height: 24px;
    top: 4%;
    right: 3%;
    display: none;
    position: fixed;
    z-index: $z-hamburger;

    @include tablets {
        display: inline-flex;
    }

}

.hamburger__plank {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: $white;
    height: 4px;
    border-radius: 10px;
    transition: transform .3s, background-color .3s, opacity .3s;

    &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    &:nth-child(3) {
        bottom: 0;
        top: initial;
    }
}

.hamburger.active {
    .hamburger__plank {
        &:nth-child(1) {
            opacity: 0;
        }

        &:nth-child(2) {
            transform: rotate(45deg);
        }

        &:nth-child(3) {
            transform: rotate(-45deg) translateY(-6px) translateX(6px);
        }
    }
}


// .cross {
//     width: 4px;
//     height: 26px;
//     background: black;
//     top: 5%;
//     right: 3%;
//     display: none;
//     transform: rotate(45deg);
//     position: fixed;
//     z-index: $z-hamburger;

//     @include tablets {
//         display: block;
//     }
// }

// .cross:after {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: rotate(-2deg) translateY(-2px) translateX(-13px);
//     width: 26px;
//     height: 4px;
//     background: black;

// }


// .hamburger {
//     width: 26px;
//     height: 4px;
//     top: 5%;
//     right: 3%;
//     display: none;
//     background: $black;
//     position: fixed;
//     z-index: $z-hamburger;
    
//     @include tablets {
//         display: block;
//     }

// }

// .hamburger:after, .hamburger:before {
//     content: "";
//     display: block;
//     width: 26px;
//     height: 4px;
//     background: $black;
//     position: absolute;
// }

// .hamburger:after {
//     top: 100%;
//     margin-top: 5px;
    
// }
  
// .hamburger:before {
//     bottom: 100%;
//     margin-bottom: 5px;
// }


