.hero {
  background: url('../img/bg-surf.jpeg') center top 80% no-repeat;
  background-size: cover;
  // height: 100vh;
  height: 100%;
  min-height: rem(652px);
  margin-top: 0;
  color: $white;
  font-weight: 700;
  // box-shadow: 0 4px 4px 0 #000000;

}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 93%;
  flex: 1;

  @include tablets {
    height: 80%;
  }
}

