
.menu {
  display: flex;

}

.menu__item {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 18px;

}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  font-size: 18px;
  font-weight: 700;

}

.menu__link:hover {
  transition: .7s;
  text-decoration:underline $darkblue;
}
