.product__image {
  padding-right: rem(50px);
  padding-left: rem(70px);

  @include tablets {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.product__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  padding-right: rem(40px);

  @include tablets {
    text-align: center;
    align-items: center;
    padding-right: rem(0px);
  }
}

.product__parameters {
  height: rem(91px);
  width: rem(91px);
  margin-bottom: rem(52px);
  background: $darkblue;
  border-radius: rem(4px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover .parameters__drop {
    opacity: 0.8;
    display: flex;
  }

  @include tablets {
    display: none;
    height: rem(0px);
    width: rem(0px);
    margin-bottom: rem(0px);    
  }
}

.product__parameters-img {
  padding-top: rem(17px);
  padding-bottom: rem(7px);
}

.product__parameters--text {
  font-size: rem(14px);
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  padding-bottom: rem(12px);
  text-decoration: none;
}

.product__title {
  font-size: rem(36px);
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  margin-bottom: rem(24px);

  @include tablets {
    margin-bottom: rem(14px);
  }
}

.product__text {
  margin-bottom: rem(24px);

  @include tablets {
    padding: rem(0px) rem(130px);
  }

  @include phones {
    padding: rem(0px) rem(70px);
    margin-bottom: rem(22px);
  }
}

.product__content {
  display: flex;
  margin-bottom: rem(12px);

  @include tablets {
    padding-left: rem(90px);
  }

  @include phones {
    padding-left: rem(60px);
  }
}

.product__content-item {
  display: flex;
  flex-direction: column;
  padding-right: rem(55px);
}

.product__content-text {
  display: flex;
  justify-content: flex-start;
}

.product__content-elem {
  font-weight: 700;
  color: black;
}

.product__price {
  display: flex;
  align-items: center;
}

.product__price-text {
  font-size: rem(60px);
  font-weight: 300;
  color: #151515;
  padding-right: rem(25px);

  @include tablets {
    padding-right: rem(35px);
  }

  @include phones {
    padding-right: rem(20px);
  }
}