$containerWidth: 940px;
$baseFontSize: 18px;

$z-fixed-menu: 100;
$SiteWidth: 940px;
$z-hamburger: 50;

//breakpoints
$tablets: 768px;
$phones: 480px;
$phones-small: 370px;

//colors
$white: #fff;
$yellow: #FEDB3F;
$black: #292929;
$grey: #666666;
$darkblue: #3A587E;