.banner {
  width: 52%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 10%;
  margin-bottom: rem(64px);
  @i;
}

.banner__caption {
  font-size: rem(48px);
  font-weight: 700;
  line-height: 1.4;
  line-height: 100%;
  margin-bottom: rem(17px);
  text-transform: uppercase;
}

.banner__text {
  font-size: rem(21px);
  font-style: Regular;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: rem(33.5px);
  padding-right: 10%;
}