.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2%;
  position: relative;
}
.benefits__item::before {
  content: url("/img/snape.png");
  position: absolute;
  top: rem(50px);
  right: rem(0px);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: rem(0px);
}
.benefits__item:last-child {
  padding-right: rem(0px);
}
.benefits__item:last-child::before {
  display: none;
}