.button {
  border-radius: 35px;
  padding: 21px 41px;
  color: #000000;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 64px;
  border: none;
  text-transform: uppercase;
}

.button--color--yellow {
  background: #FEDB3F;
  color: #000000;
}

.button--color--yellow:hover {
  background: #ffffff;
  color: #1968B1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}