.hero {
  background: url("/img/bg-surf.jpeg") 50%/cover no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 652px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header {
  padding-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__col--align--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 79px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  font-size: 14px;
}

.menu__link:hover {
  color: #FEDB3F;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.contacts {
  color: #ffffff;
  font-style: normal;
  text-align: right;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contacts-icon {
  margin-right: 5.6px;
}

[href] {
  color: #ffffff;
  text-decoration: none;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.banner {
  display: block;
  width: 50%;
  padding-top: 80px;
}

.banner__caption {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 98px;
  margin-bottom: 27.5px;
}

.banner__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 33.5px;
}

.banner__button {
  border-radius: 35px;
  padding: 18px 40px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.banner__button--color--yellow {
  background: #FEDB3F;
  color: #000000;
}

.banner__button--color--yellow:hover {
  background: #ffffff;
  color: #1968B1;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.bullets__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bullet {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bullet:last-child {
  margin-right: 0px;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}