.interactive-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid #FEDB3F;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}